.signature-wrapper {
  display: flex;
  max-width: 40%;
  align-items: center;
  font-family: var(--main-font); /* Usando variables CSS para mantener consistencia */
  color: var(--text-color);
  padding: 20px;
  border-radius: 10px;
}

.photo {
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-right: 15px;
  object-fit: cover;
}

.info-wrapper {
  line-height: 1.4;
}

.name {
  font-size: 16px;
  margin: 0;
  color: var(--primary-color);
}

.position {
  font-size: 14px;
  margin: 0px 0;
  font-weight: 600;
  color: var(--secondary-color);
}

.contact-info {
  margin: 0px 0;
  font-size: 14px;
}

.contact-info a {
  color: var(--primary-color);
  text-decoration: none;
}
